@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

$vs-border-radius: $input-border-radius;

.v-select{
    background-color:  $input-bg;
}
.v-select .vs__dropdown-toggle{
    padding: 0;
}
.v-select .vs__dropdown-toggle:focus-within{
    border-color: $input-focus-border-color!important;
}

.vs__search,
.vs__search:focus {
    height: $input-height;
    color: $input-color;
    appearance: none!important;
    border: none!important;
    outline: none!important;
    margin: 0!important;
    padding: $input-padding-y $input-padding-x!important;
    background: none!important;
    box-shadow: none!important;
    width: 0!important;
    max-width: 100%!important;
    flex-grow: 1!important;
    z-index: 1!important;
}

.v-select.is-invalid .vs__dropdown-toggle{
    border-color: $form-feedback-invalid-color!important;
}

.vs__selected-options {
    padding: 0!important;
}

.vs__selected{
    margin: 4px 2px 4px 2px!important;
}

.vs--single .vs__selected {
    padding: 0 0.5em!important;
}

.vs__clear{
    padding: 0 0 6px 0!important;
}
